$color-text: #333333;

$color-main: rgba(#4285D2, 0.8);
$color-sub: rgba(#4285D2, 0.2);

$color-accent: #D68518;
$color-accent-80: rgba(#D68518, 0.8);
$color-accent-20: rgba(#D68518, 0.2);

$color-bg: #F0F4F9;